*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #fffffe;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #272343;
  padding: 30px;
  box-sizing: border-box; }

@keyframes moveFromDownToUp {
  0% {
    opacity: 0;
    transform: translateY(150px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-100px); }
  80% {
    transform: translateX(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.header__primary {
  letter-spacing: 35px;
  display: block;
  font-size: 60px;
  font-weight: 500;
  text-shadow: 2px 2px #2d334a;
  margin-bottom: 20px;
  animation: moveInLeft 3s ease-out; }

.header__sub {
  display: block;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 17.4px;
  text-shadow: 1px 1px #2d334a;
  animation: moveInRight 3s ease-out; }

.heading-secondary {
  font-size: 35px;
  font-weight: 500;
  text-shadow: 1px 1px #2d334a;
  letter-spacing: 5px;
  display: inline-block; }
  .heading-secondary-story {
    margin-top: 50px;
    color: #ffffff; }

.heading-tertiary {
  font-size: 2.5rem;
  color: #272343;
  letter-spacing: 5px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem;
  color: #2d334a;
  letter-spacing: 5px;
  display: inline-block; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-2 {
  margin-bottom: 1.5rem; }

.section__about {
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  margin-top: -38vh; }

.section-stories {
  position: relative; }

.book {
  background-color: #2d334a;
  background-size: 100%;
  border-radius: 9px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
  height: 50rem; }
  .book-form {
    width: 60%;
    padding: 6rem; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s; }

.btn-yellow {
  background-color: #ffd803;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  color: #272343;
  animation: moveFromDownToUp 3s ease-out; }

.btn-white {
  background-color: #e3f6f5;
  font-weight: 400;
  font-size: 17px; }

.second-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  color: #272343;
  background-color: #ffd803; }
  .second-btn:hover {
    background-color: #ffd803; }
  .second-btn-story {
    margin-bottom: 60px; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .5s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(227, 246, 245, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  border-radius: 7px;
  background-color: #2d334a;
  color: #fffffe;
  padding: 3.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 1.5rem;
  transition: all .5s; }
  .feature-box .heading-tertiary {
    margin-top: 1rem;
    color: #fffffe;
    font-size: 1.7rem; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    color: #bae8e8; }

.feature-box:hover {
  transform: scale(1.1); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card-side {
    background-color: #2d334a;
    height: 50rem;
    color: white;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9); }
    .card-side-front {
      background-color: #2d334a; }
    .card-side-back {
      transform: rotateY(180deg);
      color: #2d334a; }
      .card-side-back-1 {
        background-color: #ff8ba7; }
      .card-side-back-2 {
        background-color: #ff8906; }
      .card-side-back-3 {
        background-color: #f25f4c; }
  .card:hover .card-side-front {
    transform: rotateY(180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0); }
  .card-picture {
    background-size: cover;
    border-radius: 10px;
    height: 23rem; }
    .card-picture-1 {
      background-image: url("/img/card_pic_1.jpg"); }
    .card-picture-2 {
      background-image: url("/img/card-pic-2.jpg"); }
    .card-picture-3 {
      background-image: url("/img/card-pic-3.jpg"); }
  .card-header {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #e3f6f5;
    position: absolute;
    top: 14rem;
    right: 2rem; }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #e3f6f5; }
  .card-cta {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%); }
  .card-price-box {
    text-align: center;
    color: #e3f6f5; }
  .card-price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400; }
  .card-price-value {
    font-size: 6rem;
    font-weight: 500; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 6rem;
  font-size: 1.4rem;
  color: #fffffe;
  margin-bottom: 110px; }
  .story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    transform: translateX(-3rem); }
  .story-img {
    width: 100%;
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all .5s ease; }
  .story .heading-tertiary {
    font-size: 1.9rem;
    color: #e3f6f5;
    font-weight: 500; }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s ease;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-img {
    width: 100%;
    transform: scale(1) brightness(80%);
    filter: blur(4px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .9;
  overflow: hidden; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  height: 95vh;
  background-image: url("../img/header.jpeg");
  background-size: cover;
  background-position: top;
  position: relative;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=90) black;
  -khtml-opacity: 0.8;
  background-color: #000; }
  .header__logo-box {
    position: absolute;
    top: 50px;
    right: 50px;
    opacity: 1; }
  .header__logo {
    height: 50px;
    opacity: 2; }
  .header__text-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-20%, 10%);
    text-align: center; }
  .header__main {
    text-transform: uppercase;
    opacity: 1;
    backface-visibility: hidden;
    margin-bottom: 30px; }

.row {
  max-width: 120rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3);
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4);
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 6rem; }
