$color-btn: #ffd803;
$color-border-bottom: #ffd803;
$color-font: #272343;
$color-border: #272343;
$color-back-card: #2d334a;
$card-light-color: #e3f6f5;
$box-shadow-hover: 0 10px 20px rgba(0,0,0,.2);

// $color_sec_btn: #e3f6f5;

$background_secondary: #e3f6f5;


// grid
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;   

// font
$default-font-size: 1.4rem;