
.header{
    height: 95vh;
    background-image: url('../img/header.jpeg');
    background-size: cover;
    background-position: top;
    position: relative;
    opacity:0.8;
    -moz-opacity:0.8;
    filter: alpha(opacity=90) black;
    -khtml-opacity: 0.8;
    background-color:#000;

    &__logo-box{
        position: absolute;
        top: 50px;
        right: 50px;
        opacity: 1;
    }

    &__logo{
        height: 50px;
        opacity: 2; 
    }

    &__text-box{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-20%, 10%);
        text-align: center;
    }
    &__main{
        text-transform: uppercase;
        opacity: 1;
        backface-visibility: hidden;
        margin-bottom: 30px;
    }
    
}