.header__primary{
    letter-spacing: 35px;
    display: block;
    font-size: 60px;
    font-weight: 500;
    text-shadow: 2px 2px #2d334a;
    margin-bottom: 20px;
    animation: moveInLeft 3s ease-out;  
}
.header__sub{
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 17.4px;
    text-shadow: 1px 1px #2d334a;
    animation: moveInRight 3s ease-out;
}

.heading-secondary{
    font-size: 35px;
    font-weight: 500;
    text-shadow: 1px 1px #2d334a;
    letter-spacing: 5px;
    display: inline-block;

    &-story{
        margin-top: 50px;
        color: #ffffff;
    }
}
.heading-tertiary{
    font-size: 2.5rem;
    color: #272343;
    letter-spacing: 5px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.5rem;
    color: #2d334a;
    letter-spacing: 5px;
    display: inline-block;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

